/*текст черный #212121 заголовки, ссылки-навигация, фио
         серый #757575 текст, телефон - основной!!!
         белый #FFFFFF герой, в футере адрес
         rgba(255, 255, 255, 0.6); в футере - э-мейл,телефон
         синий #2196F3 header, лого 
 */

 /*фон  белый       #FFFFFF - основной!!!
        св-серый    #F5F4FA - фон фильтров в портфолио
        темн-серый  #2F303A */


/*Основные свойста для всей страницы*/

body {  
        color: #757575;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.03em;
        background-color: #ffffff;
}

ul {list-style: none;}

h2 {
        font-size: 36px;
}

.link {
        text-decoration: none;
      }

/*Свойства logo*/

.logo .logo-web {
        color: #2196f3;
}

.logo .logo-footer {
        color: #ffffff;
}

.logo {
        color: #212121;
        font-family: "Raleway";
        font-size: 26px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 0.03em;
}

/*Свойства address*/

.address {
        color: #ffffff;
        background-color: #2f303a;
        font-style: normal;
}

.address .mail,
.address .tel {
        color: rgba(255, 255, 255, 0.6);
}

/*Свойства site-nav*/

.site-nav {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
}

.site-nav .link {
        color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
      color: ;  
}

.site-nav .link.current{
        color: #2196F3;
}

/*Свойства auth-nav*/

.auth-nav {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
}

.auth-nav .link{
        color: #757575;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
        color: #2196F3;
}

/*Свойства герой - hero*/
.hero {
        background-color: #2f303a; 
}

.hero .hero-title,
.hero .hero-button {
        color: #ffffff;
}

.hero .hero-button {
        background-color: #2196f3;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.06em;
        text-align: center;
}

.hero .hero-title {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 44px;
        letter-spacing: 0.06em;
        text-align: center;
}

/*Свойства section-title*/

.section-title {
        color: #212121;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        }

.section-position {
        font-size: 16px;
        }
/*Свойства портфолио filter*/

.filter .link {
        color: #212121;
        background-color: #f5f4fA;
        font-weight: 500;
        font-size: 16;
        letter-spacing: 0.03em;
}

.filter .link:hover,
.filter .link:focus {
        color: #ffffff;
        background-color: #2196f3;
}
 .filter .link.current {
        color: #ffffff;
        background-color: #2196f3;     
 }

/*Свойства портфолио project*/

.project .project-title {
        color: #212121;
}







